@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #d70f64;
    --gray: rgba(128, 128, 128, 0.208);
  }

body{
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}
.cta{
    border: 2px solid red;
    background-color: #FF2B85;
}
.bag{
    font-size: 35px;
}
.sign-up-btn{
    font-size: 14px;
    background-color: #FF2B85;
    border: 1px solid white;
    font-weight: 500;
}
.nav-lists li{
    list-style: none;
}

/* NAVBAR  */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
}

nav.active {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

nav > .logo {
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav > .logo > svg {
  display: none;
  margin-right: 0.3rem;
}

nav svg {
  cursor: pointer;
}

nav .login-btn {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  background-color: transparent;
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  padding: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.login-btn span {
  margin-left: 0.5rem;
  font-weight: 600;
}

/* HERO SECTION  */
.hero{
    height: 500px;
}
.hero h1{
    margin: 4em 0 4em 2em;
    font-weight: 400;
    
}
.hero-img{
position: relative;
}
.hero-img img{
    position: absolute;
    right: -40em;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero .col{
    z-index: 1;
}
/* FAQ SECTION  */
.faq p{
    color: #333333;
    font-weight: 100;
    font-size: 16px;
}
.faq span {
    color: #FF2B85;
    font-size: 16px;
}
.faq h2, h3, h4, h5{
    color: #333333;
    font-weight: 600;
    margin-bottom: 20px;
}

/* BRANCHES SECTION  */

.image-container{
    position: relative;
}

.location img{
    object-fit: contain;
    border-radius: 20px;
}
.location p{
    background-color: aliceblue;
    color: #000000;
    border-radius: 15px;
    position: absolute;
    bottom: 3px;
    left: 20px;
    padding: 10px;
}
.app .row{
    background-color: #FF2B85;
    border-radius: 20px;
}
.app h2{
    color: #333333;
}
.app .app-content{
    width: 50%;
}
.app .app-img{
width: 50%;
margin-top: -50px;
}
.app .app-img img{
    object-fit: contain;
    width: 100%;
}
.buttons-app-section span{
    font-size: 12px;
}
.buttons-app-section .app-button{
    padding: 0 3px 0px 3px;
    margin: 2px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.app-icon i{
  font-size: 25px;
  margin-right: 5px;
}
.app-icon img{
    margin-right: 5px; 
}
.qrcode{
    width: 80px;
    height: 80px;
}

/* Foodpanda-for-business Section */
.foodpanda-for-business{
    margin-bottom: 90px;
}
.foodpanda-for-business .row{
    background-image: url("/assests/home-corporate-pk.webp");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.foodpanda-for-business h4{
    font-weight: 400;
}
.foodpanda-for-business .col{
    background-color: #ffffff;
    color: #000000;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -70px;
    left: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.foodpanda-for-business button{
    border: none;
    background-color: #FF2B85;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

/* RESTAURANTS OR SHOP SECTION */

.restaurant-section{
    margin-bottom: 90px;
}
.restaurant-section .row{
    background-image: url("/assests/vendor.webp");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.restaurant-section h4{
    font-weight: 400;
}
.restaurant-section .col{
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -70px;
    left: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.restaurant-section button{
    border: none;
    background-color: #FF2B85;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

/* FOOTER SECTION  */

.footer-top{
    border-top: 1px solid #dcd9d9;
    border-bottom: 1px solid #dcd9d9;
}
.footer-top p, .footer-mid p{
    color: #767676;
    cursor: pointer;
}
.footer-top span:hover{
    color: #FF2B85;
}
.footer-mid ul{
    list-style-type: none;
    cursor: pointer;
}
.footer-mid li{
    color: #FF2B85;
    padding: 5px 0px 5px 0px;
}
.footer-mid li:hover{
    color: #a3124f;
}
.footer-bottom{
    border-top: 1px solid #dcd9d9;
}
.footer-bottom i{
    font-size: 25px;
    color: #FF2B85;
    border: 1px solid #dcd9d9 ;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
}
@media only screen and (max-width: 998px){
    /* nav > .profile-icon-medium {
        display: none;
      }
    
      nav .login-btn {
        display: inline-flex;
      }
     */
    .app .app-img{
       
        margin-top: 0;
        }
}
@media only screen and (max-width: 768px){
    /* nav > .logo > svg {
        display: inline;
      } */
    .foodpanda-for-business .col{
        left: 10px;
        width: 95%;
        height: max-content;
    }
    .restaurant-section{
        /* margin-bottom: 15em; */
        margin-bottom: 16em;
    }
    .restaurant-section .row{
        /* height: max-content; */
        /* height: fit-content; */
        /* height: min-content; */
        /* height: 500px; */
    }
    .restaurant-section .col{
        left: 10px;
        width: 95%;
        height: max-content;
        /* bottom: -180px; */
        bottom: -15em;
    }
}
@media only screen and (max-width: 510px){
    .restaurant-section{
        margin-bottom: 27em;
    }
    .restaurant-section .col{
        /* bottom: -300px; */
        bottom: -25em;
    }
}