@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", sans-serif;
}
.cta{
    border: 2px solid red;
    background-color: #FF2B85;
}
.bag{
    font-size: 35px;
}
.sign-up-btn{
    font-size: 14px;
    /* border: none; */
    background-color: #FF2B85;
    border: 1px solid white;
    /* border-radius: 5px; */
    font-weight: 500;
}
.nav-lists li{
    list-style: none;
}
/* FAQ SECTION  */
.faq p{
    color: #333333;
    font-weight: 100;
    font-size: 16px;
}
.faq span {
    color: #FF2B85;
    font-size: 16px;
}
.faq h2, h3, h4, h5{
    color: #333333;
    font-weight: 600;
    margin-bottom: 20px;
}

/* BRANCHES SECTION  */

.image-container{
    position: relative;
}

.location img{
    object-fit: contain;
    border-radius: 20px;
    /* position: relative; */
}
.location p{
    background-color: aliceblue;
    color: #000000;
    border-radius: 15px;
    position: absolute;
    bottom: 3px;
    left: 20px;
    padding: 10px;
}
.app .row{
    background-color: #FF2B85;
    border-radius: 20px;
}
.app h2{
    color: #333333;
}
.app .app-content{
    width: 50%;
}
.app .app-content img{
    /* width: 100%; */
}
.app .app-img{
width: 50%;
margin-top: -50px;
}
.app .app-img img{
    object-fit: contain;
    width: 100%;
}
.apple{
    /* color: #ffffff; */
}
.buttons-app-section span{
    font-size: 12px;
}
.buttons-app-section .app-button{
    /* padding: 0; */
    padding: 0 3px 0px 3px;
    margin: 2px;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.app-icon i{
  font-size: 25px;
  margin-right: 5px;
}
.app-icon img{
    margin-right: 5px; 
}
.qrcode{
    width: 80px;
    height: 80px;
}

/* Foodpanda-for-business Section */
.foodpanda-for-business{
    margin-bottom: 90px;
}
.foodpanda-for-business .row{
    background-image: url("/assests/home-corporate-pk.webp");
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.foodpanda-for-business h4{
    font-weight: 400;
}
.foodpanda-for-business .col{
    background-color: #ffffff;
    color: #000000;
    /* margin-top: 70px; */
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -70px;
    left: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* margin-bottom: 40px; */
}
.foodpanda-for-business button{
    border: none;
    background-color: #FF2B85;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

@media only screen and (max-width: 998px){
    .app .app-img{
       
        margin-top: 0;
        }
}
@media only screen and (max-width: 768px){
    .foodpanda-for-business .col{
        left: 10px;
        width: 95%;
        height: max-content;
    }
}