@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #d70f64;
  --gray: rgba(128, 128, 128, 0.208);
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
/* NAVBAR  */

header{
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
}

nav.active {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

nav > .logo {
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav > .logo > svg {
  display: none;
  margin-right: 0.3rem;
}

nav svg {
  cursor: pointer;
}

nav .login-btn {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: none;
  background-color: transparent;
  border-right: 1px solid var(--gray);
  border-left: 1px solid var(--gray);
  padding: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.login-btn span {
  margin-left: 0.5rem;
  font-weight: 600;
}

/* HERO SECTION  */
.hero h1 {
  margin: 4em 10em 1em 2em;
  font-weight: 400;
}
.hero-img {
  position: relative;
  min-width: 100vw;
  overflow: hidden;
}
.hero-img img {
  position: absolute;
  left: 40%;
  float: right;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .col {
  z-index: 1;
}
.hero-content {
  width: 40%;
  display: flex;
  margin: 0em 10em 4em 5em;
  padding: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}
.hero-input-container {
  margin-right: 5px;
  position: relative;
  width: 100%;
  width: 70%;
}
.hero-input-container input {
  width: 100%;
  position: relative;
  margin-right: 15px;
  padding: 0.4em 0.4em 0.4em 0.4em;
  border: 1px solid rgb(225, 226, 227);
  border-radius: 5px;
}
.location-icon {
  position: absolute;
  top: 5px;
  right: 15px;
}
.hero-content button {
  border: none;
  background-color: #d70f64;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.4em 0.7em;
}
/* FAQ SECTION  */
.faq p {
  color: #333333;
  font-weight: 100;
  font-size: 16px;
}
.faq span {
  color: #ff2b85;
  font-size: 16px;
}
.faq h2,
h3,
h4,
h5 {
  color: #333333;
  font-weight: 600;
  margin-bottom: 20px;
}

/* BRANCHES SECTION  */

.cities{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 2em;
  cursor: pointer;
}
.city{
  position: relative;
  border-radius: 5px;
  height: 200px;

}
.city-image  img{
  position: relative;
  border-radius: 5px;
  height: 200px;
  object-fit: cover;
  transition: all .1s ease-in;
}
.city-name p{
  bottom: 0;
  left: 1em;
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  color: #333333;
}
.city-image:hover{
  transform: scale(1.1);
}

/* APP SECTION  */
.app .row {
  background-color: #ff2b85;
  border-radius: 20px;
}
.app h2 {
  color: #333333;
}
.app .app-content {
  width: 50%;
}
.app .app-img {
  width: 50%;
  margin-top: -50px;
}
.app .app-img img {
  object-fit: contain;
  width: 100%;
}
.buttons-app-section span {
  font-size: 12px;
}
.buttons-app-section .app-button {
  padding: 0 3px 0px 3px;
  margin: 2px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.app-icon i {
  font-size: 25px;
  margin-right: 5px;
}
.app-icon img {
  margin-right: 5px;
}
.qrcode {
  width: 80px;
  height: 80px;
}

/* Foodpanda-for-business Section */
.foodpanda-for-business {
  margin-bottom: 90px;
}
.foodpanda-for-business .row {
  background-image: url("/assests/home-corporate-pk.webp");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.foodpanda-for-business h4 {
  font-weight: 400;
}
.foodpanda-for-business .col {
  background-color: #ffffff;
  color: #000000;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: -70px;
  left: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.foodpanda-for-business button {
  border: none;
  background-color: #ff2b85;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

/* RESTAURANTS OR SHOP SECTION */

.restaurant-section {
  margin-bottom: 90px;
}
.restaurant-section .row {
  background-image: url("/assests/vendor.webp");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.restaurant-section h4 {
  font-weight: 400;
}
.restaurant-section .col {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: -70px;
  left: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.restaurant-section button {
  border: none;
  background-color: #ff2b85;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

/* FOOTER SECTION  */

.footer-top {
  border-top: 1px solid #dcd9d9;
  border-bottom: 1px solid #dcd9d9;
}
.footer-top p,
.footer-mid p {
  color: #767676;
  cursor: pointer;
}
.footer-top span:hover {
  color: #ff2b85;
}
.footer-mid ul {
  list-style-type: none;
  cursor: pointer;
}
.footer-mid li {
  color: #ff2b85;
  padding: 5px 0px 5px 0px;
}
.footer-mid li:hover {
  color: #a3124f;
}
.footer-bottom {
  border-top: 1px solid #dcd9d9;
}
.footer-bottom i {
  font-size: 25px;
  color: #ff2b85;
  border: 1px solid #dcd9d9;
  border-radius: 50%;
  padding: 5px;
  margin-left: 10px;
}

/* MEDIA QUERIES  */

@media only screen and (max-width: 998px) {
  .app .app-img {
    margin-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .foodpanda-for-business .col {
    left: 10px;
    width: 95%;
    height: max-content;
  }
  .restaurant-section {
    margin-bottom: 16em;
  }
  .restaurant-section .col {
    left: 10px;
    width: 95%;
    height: max-content;
    bottom: -15em;
  }
  .hero-img img {
    left: 40%;
  }
  .hero h1 {
    margin: 4em 0 1em 2em;
  }
  .hero-content {
    width: 80%;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 5px;
    margin-bottom: 0;
    margin-left: 4em;
  }
  .hero-input-container {
    margin-bottom: 0.3em;
  }
  .hero-input-container,
  .hero-input-container input {
    width: 100%;
  }
  .cities{
    grid-template-columns: repeat(3,auto);
    gap: 1em;
  }
  .city{
    height: 200px;
    overflow: hidden;
  
  }
}
@media only screen and (max-width: 510px) {
  .restaurant-section {
    margin-bottom: 27em;
  }
  .restaurant-section .col {
    bottom: -25em;
  }
  .hero-img img {
    left: 50%;
    object-fit: cover;
    margin-bottom: 0;
  }
  .hero h1 {
    margin: 1em 3em 1em 1em;
    font-weight: 500;
    font-size: 1.4em;
  }
  .hero-content {
    margin-left: 1em;
  }
  .hero-input-container,
  .hero-input-container input {
    width: 100%;
  }
  .cities{
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
